@model IEnumerable<Models.Student>

@if (Model != null && Model.Any())
{
    Dictionary<string, List<Student>> cohort = new Dictionary<string, List<Student>>();

    foreach (var stud in Model)
    {
        string year = stud.Code.Substring(0, 4);

        if (!cohort.ContainsKey(year))
        {
            cohort[year] = new List<Student>();
        }

        cohort[year].Add(stud);
    }

    foreach (var year in cohort)
    {
        <details>
            <summary>Cohorte @year.Key</summary>
            <ul>
                @foreach (var stud in @year.Value)
                {
                    <li>@stud.Code @stud.LastName @stud.FirstName</li>
                }
            </ul>
        </details>
    }
}
else
{
    <p>Aucun etudiant...</p>
}

