@model Models.Teacher

@{ 
    int days = (DateTime.Now - Model.StartDate).Days;
    int years = days / 365;

    string email = Model.FirstName + "." + Model.LastName + "@clg.qc.ca";
}


<details open>
    <summary><i class="fa-solid fa-teacher"></i> @Model.FirstName @Model.LastName</summary>
    <ul style="padding: 15px; list-style: none;">
        <li><i class="fa-solid fa-barcode"></i> @Model.Code</li>
        <li><i class="fa-solid fa-phone"></i> @Model.Phone</li>
        <li><i class="fa-solid fa-paper-plane"></i> @email</li>
        <li></li>
        <li>Embauché le @Model.StartDate.ToShortDateString()</li>
        <li> @years ans d'ancienneté</li>
    </ul>
</details>

