@model Models.Teacher

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="Code" value="@Model.Code" />

    <div>
        <details open>
            <summary>Informations - [@Model.Code]</summary>

            <ul style="padding-left: 15px;">
                <li style="list-style-type: none;">
                    <fieldset>
                        <legend>Prénom</legend>
                        <input name="FirstName" id="FirstName"
                               class="form-control Alpha"
                               required
                               RequireMessage="Veuillez entrer le prénom de l'enseignant"
                               InvalidMessage="Caractère illégal"
                               value="@Model.FirstName" />

                    </fieldset>
                </li>
                <li style="list-style-type: none;">
                    <fieldset>
                        <legend>Nom</legend>
                        <input name="LastName" id="LastName"
                               class="form-control Alpha"
                               required
                               RequireMessage="Veuillez entrer le nom de l'enseignant"
                               InvalidMessage="Caractère illégal"
                               value="@Model.LastName" />
                    </fieldset>
                </li>
                <li style="list-style-type: none;">
                    <fieldset>
                        <legend>Date d'embauche</legend>
                        <input name="StartDate" class="form-control datepicker" value="@Model.StartDate"
                               required
                               RequireMessage="Veuillez entrer la date d'embauche de l'enseignant"
                               InvalidMessage="Date invalide" />
                    </fieldset>
                </li>
                <li style="list-style-type: none;">
                    <fieldset>
                        <legend>Téléphone</legend>
                        <input class="form-control Phone"
                               name="Phone"
                               id="Phone"
                               placeholder="(000) 000-0000"
                               required
                               RequireMessage="Veuillez entrer le téléphone de l'enseignant"
                               InvalidMessage="Téléphone invalide"
                               value="@Model.Phone" />
                    </fieldset>
                </li>
                <li style="list-style-type: none;">
                    <label for="Avatar" class="form-label">Avatar </label>

                    <div class='imageUploader'
                         controlId='Avatar'
                         imageSrc='@Model.Avatar'
                         title="Cliquez/glisser une photo">
                    </div>
                </li>
            </ul>
        </details>
    </div>
    <input type="submit" id="submit" style="display:none" />
}
